/* Navbar */

nav {
    background-color: rgb(79, 0, 0);
    color: rgb(234, 230, 230);

    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    margin: 0;
    font-size: 18px;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links span {
    cursor: pointer;
}


/* Welcome */

.welcome {
    padding: 30px;
}

.welcome h1 {
    margin: 0;
    font-size: 28px;
}


/* Dashboard */

main {
    padding: 0 30px 30px;
}


/* Stat Cards */

.stack-container {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.stack-card {
    background-color: rgb(101, 48, 35);

    border: 1px solid #fdf8f8;
    border-radius: 6px;
    text-align: center;
    width: 150px;
    align-items: center;
    padding: 15px;
}

/* Recent Tasks */

main > h2 {
    font-size: 20px;
    margin-bottom: 15px;
}


/* Task Cards */

.tasks-container {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

/*task-card*/
.task-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.task-card {

   background-color: rgb(156, 72, 53);

    border: 1px solid #f4f1f1;
    border-radius: 6px;

    padding: 18px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-card h3{
    margin: 0;
    font-size: 18px;
}
.task-card p{
    margin: 0;
}